
.input-task{
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    top: -2rem;
}

input{
    height: 4rem;
    width: 40rem;

    background: var(--gray500);
    color: var(--gray300);
    border: 1px solid var(--gray700);
    border-radius: 0.5rem;
    padding-left: 1rem;
}

input:active{
    color: var(--gray100);
    border: 1px solid var(--puple-dark);
}

button{
    height: 4rem;
    width: 6rem;

    background: var(--blue-dark);
    border: none;
    border-radius: 0.5rem;
    color: var(--gray100);
    text-align: center;
    margin-left: 1rem;
}

button:hover{
    background: var(--blue);
    transition: 0.5s;
}

button img{
    padding-left: 0.5rem;
    position: relative;
    top:0.2rem;
    
}

